.App {
  background-color: #f2f2f2;
  color: #333;
  transition: background-color 0.3s ease;
}

.App.dark-mode {
  background-color: rgb(15,23,36);
  color: #fff;
}

.title-projects{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 50px;
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  flex-basis: 30%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  height: 450px;
}

@media (max-width: 570px) {
  .project-card{
    height: 400px;
  }
}
