.App {
  background-color: #f2f2f2;
  color: #333;
  transition: background-color 0.3s ease;
}

.App.dark-mode {
  background-color: rgb(15,23,36);
  color: #fff;
}

.title-projects{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 50px;
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  flex-basis: 30%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  height: 450px;
}

@media (max-width: 570px) {
  .project-card{
    height: 400px;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 70px;
  cursor: pointer;
  z-index: 9999;
  color: #61dbe3;
}

.scroll-to-top:hover {
  opacity: 0.5;
}

@media (max-width: 960px) {
  .scroll-to-top {
    bottom: 50px;
    right: 20px;
  }
}

@media (max-width: 700px) {
  .scroll-to-top {
    bottom: 50px;
    right: 50px;
  }
}

@media (max-width: 400px) {
  .scroll-to-top {
    right: 5px;
  }
}
