.footer {
    background-color: #232323;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 150px;
}

.email{
    cursor: pointer;
}

.email:hover svg{
    color: #E16541;
}

.social-icons{
    size: 30px;
}

a:hover svg {
    color: #E16541;
}

.link-icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 800px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .contacts {
        font-size: 30px;
    }

    .email {
        font-size: 16px;
    }

    .social-icons a {
        margin-right: 8px;
    }
}

@media (max-width: 480px) {
    .contacts {
        font-size: 24px;
    }

    .email {
        font-size: 14px;
    }

    .social-icons a {
        margin-right: 6px;
    }
}