@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('ttf'),
    url('../fonts/OFL.txt') format('txt');
    font-weight: bold;
}

.navbar-profile {
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 20px;
    gap: 30px;
    line-height: 1.25;
    font-weight: 200;
    height: 100px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile{
    align-self: start;
}

.profile-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.introduction {
    font-size: 50px;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    line-height: 0.9em;
    width: 650px;
    display: flex;
    flex-direction: column;
}

.first-line{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hello{
    white-space: nowrap;
}

p{
    width: 580px;
}

.header-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
   
}

@media (max-width: 1050px) {
    .introduction {
        font-size: 40px;
        width: 350px;
    }
    
    p{
        width: 400px;
    }

    .header-text{
        gap: 10px;
    }

    .profile{
        align-self: end;
    }
}

@media (max-width: 850px) {
    .introduction {
        font-size: 30px;
        width: 350px;
    }

    p{
        width: 250px;
    }

    .header-text{
        gap: 0px;
    }

    .profile-picture {
        width: 220px;
        height: 220px;
    }

    .profile{
        align-self: center;
    }
}

.rainbow-text {
    /*background: #CA4246;*/
    /*background-color: #CA4246;*/
    /*color: conic-gradient(*/
    /*        #CA4246 16.666%,*/
    /*        #E16541 16.666%,*/
    /*        #E16541 33.333%,*/
    /*        #F18F43 33.333%,*/
    /*        #F18F43 50%,*/
    /*        #8B9862 50%,*/
    /*        #8B9862 66.666%,*/
    /*        #476098 66.666%,*/
    /*        #61dbe3 83.333%,*/
    /*        #A7489B 83.333%);*/
    /*background-size: 70%;*/
    /*background-repeat: repeat;*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*animation: rainbow-text-animation-rev 0.5s ease forwards;*/
    /*font-size: 50px!important;*/
    /*font-weight: bold!important;*/
    /*font-family: monospace;*/
    /*letter-spacing: 7px!important;*/
    /*background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*animation: shine 3s infinite linear;*/
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    width: 400px;
}


/*@keyframes shine {*/
/*    0% {*/
/*        background-position: 0;*/
/*    }*/
/*    60% {*/
/*        background-position: 600px;*/
/*    }*/
/*    100% {*/
/*        background-position: 600px;*/
/*    }*/
/*}*/

/*.rainbow-text:hover {*/
/*    animation: rainbow-text-animation 0.5s ease forwards;*/
/*}*/

/*@keyframes rainbow-text-animation {*/
/*    0% {*/
/*        background-size: 70%;*/
/*        background-position: 0 0;*/
/*    }*/
/*    20% {*/
/*        background-size: 57%;*/
/*        background-position: 0 1em;*/
/*    }*/
/*    100% {*/
/*        background-size: 300%;*/
/*        background-position: -9em 1em;*/
/*    }*/
/*}*/

/*@keyframes rainbow-text-animation-rev {*/
/*    0% {*/
/*        background-size: 300%;*/
/*        background-position: -9em 1em;*/
/*    }*/
/*    20% {*/
/*        background-size: 57%;*/
/*        background-position: 0 1em;*/
/*    }*/
/*    100% {*/
/*        background-size: 57%;*/
/*        background-position: 0 0;*/
/*    }*/
/*}*/

.intro {
    font-size: 15px;
}

.cv-button {
    width: 200px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    color: white;
    border: none;
}

.gradient-text {
    background-image: linear-gradient(45deg, #61dbe3 50%, #E16541 50%);
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    animation: button-animation 0.40s 0.10s ease-out forwards;
}

.gradient-text:hover,
.gradient-text:hover span {
    animation: button-animation-rev 0.30s ease-out forwards;
}

.gradient-text:hover {
    box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

@keyframes button-animation {
    0% {
        background-position: top right;
    }
    100% {
        background-position: top left;
    }
}

@keyframes button-animation-rev {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

.links{
    margin-left: 10px;
}

.links a.social-icons:hover svg {
    color: #61dbe3;
}

@media (max-width: 790px) {
    .navbar-profile{
        justify-content: flex-start;
    }
    
    .rainbow-text{
        font-size: 3rem;
    }
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.hamburger-checkbox{
    display: none;
}

li {
    list-style: none;
}

.landing-page-menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.navigation-navbar-items{
    text-decoration: none;
    margin-right: 20px;
    font-size: 25px;
    transition: opacity 0.3s ease;
    color: #E16541;
    text-shadow: 0 0 5px black, 0 0 10px #a44931;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
}

.navigation-navbar-items:hover{
    color: #a44931;
}

@media (max-width: 768px) {
    .landing-page-menu {
        display:none;
        position: absolute;
        background-color: rgb(15,23,36, 0.8);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 10;
    }

    .landing-page-menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
    }

    .landing-page-menu li + li {
        margin-top: 12px;
    }

    .landing-page-menu li:hover {
        transition: 1s ease;
        text-decoration: underline;
        text-decoration-color: #a44931;
        text-underline-offset: 10px;
        text-decoration-thickness: 2px;
    }
    
    .landing-page-menu li {
        padding: 5px 14px;
    }
    
    input[type=checkbox]:checked ~ .landing-page-menu{
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 0;
        transform: translateX(35%);
        position: absolute;
    }

    .dropdown li:hover {
        background-color: #51A9E1;
    }
}

.introduction-links{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}

@media (max-width: 700px) {
    .profile-picture {
        width: 220px;
        height: 220px;
    }

    .introduction {
        font-size: 30px;
        width: 200px;
        line-height: 0.9em;
    }
    
    p{
        width: 240px;
    }
    
    .main-introduction{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .introduction-links{
        justify-content: center;
    }
    
    .rainbow-text{
        font-size: 2.8rem;
        width: 280px;
    }
}

@media (max-width: 470px) {
    .profile-picture {
        width: 150px;
        height: 150px;
    }

    p{
        width: 180px;
    }

    .introduction {
        font-size: 25px;
        width: 180px;
        line-height: 0.8em;
    }

    .introduction-links{
        justify-content: center;
        flex-direction: column;
        gap: 0%;
        align-items: center;
    }
    
    .first-line{
        flex-direction: column;
    }
}

@media (max-width: 370px) {
    .header-text{
        flex-direction: column;
        text-align: center;
    }
    
    .profile {
        align-self: center;
    }

    .introduction {
        width: 280px;
        font-size: 21px;
    }

    p{
        width: 220px;
    }
}